<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Dashboard</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Dashboard v1</li>
					</ol>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<!-- Small boxes (Stat box) -->
			<table datatable="" id="tbl-patient-lists" width="100%"
				class="table table-striped table-bordered table-color table-hover tbl-table-list" style="font-size: 14px;">
				<thead>
					<tr>
						<th column="patient_id">Patient ID</th>
						<th column="patient_name">Patient Name</th>
						<th column="patient_name">Patient Sex</th>
						<th column="patient_name">Patient Age</th>
						<th column="disease">Disease</th>
						<th column="conclusion" class="capitalize">Conclusion</th>
						<th column="intensity">Intensity</th>
						<th column="intensity">Patient Email</th>
						<th column="date">Diagnosis Date</th>
						<th column="action">Action</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

			<div id="patient-detail" style="display: none;">
				<div style="margin: 0px 70px 0px 50px;">
					<h4 style="margin-bottom: 20px;">PATIENT ID: {{patient.id}}</h4>
					<div class="row">
						<div class="col-md-3" style="font-size: 19px;">
							<div class="mb-10">Name: {{ patient.patient_name }}</div>
							<div class="mb-10">Age: {{ patient.age }}</div>
							<div class="mb-10">Sex: {{ patient.sex }}</div>
							<div class="mb-10">Email: {{ patient.email }}</div>
							<div class="mb-10">Conclusion: {{ patient.conclusion }}</div>
							<div class="mb-10">Day diagnosis: {{ patient.date }}</div>
							<div class="mb-10">Disease Diagnosis: {{ patient.disease }}</div>
						</div>
						<div class="col-md-3" style="font-size: 19px;">
							<!-- <h4 class="mb-10">Docter Diagnosis</h4> -->
							<div class="mb-10">Positive: {{ patient.set.positive }}%</div>
							<div class="mb-10">Neutral: {{ patient.set.neutral }}%</div>
							<div class="mb-10">Negative: {{ patient.set.negative }}%</div>
							<div class="mb-10">Refused: {{ patient.set.refused }}%</div>
							<div class="mb-10">Intensity: {{ patient.intensity }}%</div>
						</div>
						<div class="col-md-6">
							<canvas id="patient-chart" width="200" height="200"></canvas>
						</div>
					</div>
				</div>

			</div>

		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->

</div>