.table thead {
	background-color: #578bd8;
	color: #fff;
}

.dataTables_length label {
	font-size: 14px;
	font-weight: 500;
	font-style: italic;
}

#tbl-patient-lists thead tr th {
	font-weight: 500 !important;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.view-patient-detail {
	font-size: 12px;
    height: 28px;
    padding: 5px 13px 5px 13px;
}

.mb-10 {
	margin-bottom: 10px;
}

.btn-view-patient{
	background-color: #578bd8;
	border-color: #578bd8;
	color: #fff;
}